.enigma-machine-root {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.enigma-machine-root > div {
    padding: 1em;
}
.enigma-io-display {
    width:fit-content;
    height: fit-content;
}