.enigma-machine-root {
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 60vw auto;
    grid-template-rows: 1fr 1fr;
}
.enigma-machine-root > div {
    padding: 1em;
}